footer.footer.footer-static.footer-light.navbar-border.navbar-shadow
  .clearfix.blue-grey.lighten-2.text-sm-center.mb-0.px-2
    span.float-md-left.d-block.d-md-inline-block
      | 2018 © Copyright 
      a.text-bold-800.grey.darken-2(href="" target="_blank") ThemeSelection
    ul.list-inline.float-md-right.d-block.d-md-inline-blockd-none.d-lg-block.mb-0
      li.list-inline-item
        a.my-1(href="" target="_blank").
          More themes
      li.list-inline-item
        a.my-1(href="" target="_blank").
          Support
      li.list-inline-item
        a.my-1(href="" target="_blank") Purchase