//- Footer - start
footer.page-footer
  .grid.wide.container
    .footer-wrapper
      .footer-top
        .footer-top__logo
          a(href="/")
            img(src='./uploads/images/logo.png', alt='')
        .gird.wide.footer-top__content
          .row
            .col.l-3.m-12.c-12.footer-top__content-contact
              .footer-top__content-wrapper
                span
                  | Condimentum adipiscing vel neque dis nam parturient orci at scelerisque neque dis nam parturient.
                ul.footer-top__list
                  li
                    strong Adress: 
                    span
                      | 66 Grand Central Terminal New York,NY 
                      br
                      |                                             2662 United State USA
                  li
                    strong Email: 
                    a(href='mailto:ahi@gmail.com') contact@yourcompany.com
                  li
                    strong Phone: 
                    span (+123) 456 789 - (+204) 666 888
                  li
                    strong Hours:
                    span  Mon-Sat 9:00pm - 5:00pm Sun:Closed
            .col.l-9.m-12.c-12.footer-top__content-links
              .grid.wide
                .row.panel-group
                  .col.l-2-4.m-4.c-12.footer-top__content-wrapper
                    .footer-top__title
                      h4 Company Info
                      i.fas.fa-chevron-down.just-mobile
                    ul.footer-top__list
                      li
                        a(href='') About Us
                      li
                        a(href='') Careers
                      li
                        a(href='') Social Responsibility
                      li
                        a(href='') Affiliate Program
                      li
                        a(href='') Affiliate Program
                      li
                        a(href='') Find a Store
                      li
                        a(href='') Press &amp; Talent
                  .col.l-2-4.m-4.c-12.footer-top__content-wrapper
                    .footer-top__title
                      h4 Quick Links
                      i.fas.fa-chevron-down.just-mobile
                    ul.footer-top__list
                      li
                        a(href='') Gift Cards
                      li
                        a(href='') F21 Red
                      li
                        a(href='') Privacy Policy
                      li
                        a(href='') California Privacy Rights
                      li
                        a(href='') Affiliate Program
                      li
                        a(href='') CA Transparency in Store
                      li
                        a(href='') Teams of Uset
                  .col.l-2-4.m-4.c-12.footer-top__content-wrapper
                    .footer-top__title
                      h4 Categories
                      i.fas.fa-chevron-down.just-mobile
                    ul.footer-top__list
                      li
                        a(href='') About Us
                      li
                        a(href='') Careers
                      li
                        a(href='') Social Responsibility
                      li
                        a(href='') Affiliate Program
                      li
                        a(href='') Affiliate Program
                      li
                        a(href='') Find a Store
                      li
                        a(href='') Press &amp; Talent
                  .col.l-2-4.m-4.c-12.footer-top__content-wrapper
                    .footer-top__title
                      h4 Support
                      i.fas.fa-chevron-down.just-mobile
                    ul.footer-top__list
                      li
                        a(href='') New User Guide
                      li
                        a(href='') Help Center
                      li
                        a(href='') Refund Policy
                      li
                        a(href='') Report Spam
                      li
                        a(href='') FAQ&rsquo;s
                  .col.l-2-4.m-4.c-12.footer-top__content-wrapper
                    img(src='https://mageblueskytech.com/armania/media/wysiwyg/qr-code.jpg', alt='')
                    .footer-top__title
                      h4 Lest&rsquo;s Socialize
                    ul.footer-top__social-link
                      li
                        a(href='', target='_blank')
                          i.fab.fa-facebook-f
                      li
                        a(href='', target='_blank')
                          i.fab.fa-twitter
                      li
                        a(href='', target='_blank')
                          i.fab.fa-instagram
                      li
                        a(href='', target='_blank')
                          i.fab.fa-dribbble
      .footer-payment
        .grid.wide
          .row
            .col.l-5.footer-payment__wrapper
              h4 We Using Safe Payments:
              a(href='')
                img(src='https://mageblueskytech.com/armania/media/wysiwyg/payment-market.jpg', alt='')
            .col.l-5.footer-payment__wrapper
              h4 Secured by:
              a(href='')
                img(src='https://mageblueskytech.com/armania/media/wysiwyg/payment-market.jpg', alt='')
      .footer-hot-search
        .hot-search__keyword
          h5 Hot Searched Keywords:
          ul.hot-search__keyword-list
            li
              a(href='') Xiaoma 
            li
              a(href='') Mai3  
            li
              a(href='') Degiflip Pro XT 712  
            li
              a(href='') Tablat Mai 3 Phones  
            li
              a(href='') Iphone 6 Plus  
            li
              a(href='') Women&rsquo;s Messenger  
            li
              a(href='') Bags  
            li
              a(href='') Wallets  
            li
              a(href='') Women&rsquo;s Clutches  
            li
              a(href='') Backpacks Totes  
        .hot-search__keyword
          h5 Television:
          ul.hot-search__keyword-list
            li
              a(href='') Sonay TV  
            li
              a(href='') Samsang TV   
            li
              a(href='') LGN TV Panasonac TV  
            li
              a(href='') Onidan TV 
            li
              a(href='') Tosibanh TV 
            li
              a(href='') Philipan TV 
            li
              a(href='') Micromin TV  
            li
              a(href='') LED TV Plasman 
            li
              a(href='') TV 3D TV 
            li
              a(href='') Smart TV  
        .hot-search__keyword
          h5 Mobiles:
          ul.hot-search__keyword-list
            li
              a(href='') Moto EV 
            li
              a(href='') Samsang Mobile 
            li
              a(href='') Micromai Mobile 
            li
              a(href='') Nokin Mobile 
            li
              a(href='') HAF Mobile 
            li
              a(href='') Soney Mobile 
            li
              a(href='') Applen Mobile 
            li
              a(href='') Applen Mobile 
            li
              a(href='') LH Mobile 
            li
              a(href='') Lenavo Laptop 
            li
              a(href='') Sonay Laptop 
            li
              a(href='') Dull Laptop 
  .footer-bottom
    .grid.wide.container
      .row.footer-bottom_row
        .col.l-6.m-6.c-12
          .footer-bottom__copyright
            span Copyright &copy; Bluesky Techco, Inc. All rights reserved.
        ul.col.l-6.m-6.c-12.footer-bottom__menu
          li
            a(href='') Terms of use
            a(href='') Privacy Policy
  .footer-bottom-mobile
    ul.footer-bottom-mobile__list
      li.footer-bottom-mobile__item
        a.footer-bottom-mobile__link(href='/')
          i.fas.fa-home
          span Home
      li.footer-bottom-mobile__item
        a.footer-bottom-mobile__link.menu-icon
          i.fas.fa-bars
          span Menu
      li.footer-bottom-mobile__item
        a.footer-bottom-mobile__link(href='/login')
          i.fas.fa-user
          span Account
      li.footer-bottom-mobile__item
        a.footer-bottom-mobile__link(href='/cart-checkout')
          i.fas.fa-shopping-cart
          span Cart
  #scroll-top
    i.fas.fa-long-arrow-alt-up
//- Footer - end
