doctype html
html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title ThanhCong
    link(rel='icon', type='image/x-icon', href='/img/icon-brand.png')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
    link(rel='stylesheet', href='/fonts/themify-icons/themify-icons.css')
    link(rel='stylesheet', href='/css/grid.css')
    link(rel='stylesheet', href='/css/base.css')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/responsive.css')
    link(rel='stylesheet', href='/css/error.css')

  body.page-wrapper
    include ../blocks/header.pug
    block content
      //- content here
    include ../blocks/footer.pug
    script(type='text/javascript', src='/js/main.js' )
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', type='text/javascript')
    script.
      $('input.qty-control').each(function() {
        var $this = $(this),
          qty = $this.parent().find('.is-form'),
          min = Number($this.attr('min')),
          max = Number($this.attr('max'))
        if (min == 0) {
          var d = 0
        } else d = min
        $(qty).on('click', function() {
          if ($(this).hasClass('qty-down')) {
            if (d > min) d += -1
          } else if ($(this).hasClass('qty-up')) {
            var x = Number($this.val()) + 1
            if (x <= max) d += 1
          }
          $this.attr('value', d).val(d)
        })
      })
