extend ./layout/layout.pug
block content
  main.page-content.page-blog
    .parallax
      h2 Thành Công Blog
    //- Breadcrumbs
    .breadcrumbs
      ul.breadcrumbs-list.grid.wide
        li.breadcrumbs-item
          a.breadcrumbs-link(href='/') Home
        li.breadcrumbs-item
          a.breadcrumbs-link(href='') Blog
    .grid.wide.container
      .main-content
        .row
          .col.l-3.m-0.c-0.sidebar
            .block
              .block-title Search
              .block-content
                .sidebar-search
                  input(type='text')
                  i.fas.fa-search
            .block
              .block-title Categories
              .block-content
                .filter-options
                  .filter-options-item
                    .filter-options-content
                      ul.filter-options-content__list
                        li.filter-options-content__item
                          a.filter-options-content__link(href='')
                            span Market
                        li.filter-options-content__item
                          a.filter-options-content__link(href='')
                            span Barber
                        li.filter-options-content__item
                          a.filter-options-content__link(href='')
                            span pets
            .block
              .block-title Recent Post
              .block-content
                .block-post
                  a.post-thumb(href='')
                    img(src='https://mageblueskytech.com/armania/media/rokanthemes/blog/images/b/l/blog-thumb1_1.jpg', alt='')
                  .post-info
                    a.post-titile(href='') Electrolux&apos;s Award Winning Kettlet and Dryer Pair
                    .post-date July 25 2020
                .block-post
                  a.post-thumb(href='')
                    img(src='https://mageblueskytech.com/armania/media/rokanthemes/blog/images/b/l/blog-thumb2_1.jpg', alt='')
                  .post-info
                    a.post-titile(href='') Spotlight on the Natuzzi Editions Furniture Collection
                    .post-date July 24 2020
                .block-post
                  a.post-thumb(href='')
                    img(src='https://mageblueskytech.com/armania/media/rokanthemes/blog/images/b/l/blog-thumb3_1.jpg', alt='')
                  .post-info
                    a.post-titile(href='') Ancient grain and artichoke salad. The comfort of a meal
                    .post-date July 23 2020
                .block-post
                  a.post-thumb(href='')
                    img(src='https://mageblueskytech.com/armania/media/rokanthemes/blog/images/b/l/blog-thumb4_1.jpg', alt='')
                  .post-info
                    a.post-titile(href='') Making Heads or Tails of Your Vacuum Cleaner
                    .post-date July 22 2020
                .block-post
                  a.post-thumb(href='')
                    img(src='https://mageblueskytech.com/armania/media/rokanthemes/blog/images/b/l/blog5.jpg', alt='')
                  .post-info
                    a.post-titile(href='') New home decor from Doerson Furniture Collection
                    .post-date July 21 2020
            .block
              .block-title Archive
              .block-content
                .filter-options
                  .filter-options-item
                    .filter-options-content
                      ul.filter-options-content__list
                        li.filter-options-content__item
                          a.filter-options-content__link(href='')
                            span  July 2020
          .col.l-9.m-12.c-12.col-main
            .grid
              .row
                .col.l-4.m-6.c-12
                  .blog-wrapper
                    a.blog-thumb(href='')
                      img(src='https://mageblueskytech.com/armania/media/rokanthemes/blog/images/b/l/blog-thumb1_1.jpg', alt='')
                      .blog-date 25 JUL
                    .blog-info
                      .post-category-name
                        a(href='') Market
                      .blog-title Electrolux&apos;s Award Winning Kettlet and Dryer Pair
                      .blog-des
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro iste possimus nihil, nostrum ea omnis.
                        | Aliquid ab vitae iusto nostrum qui, laborum impedit ducimus nisi laboriosam corporis. Fuga, harum aliquam?
                      .blog-action
                        a.btn(href='') READ MORE
                .col.l-4.m-6.c-12
                  .blog-wrapper
                    a.blog-thumb(href='')
                      img(src='https://mageblueskytech.com/armania/media/rokanthemes/blog/images/b/l/blog-thumb2_1.jpg', alt='')
                      .blog-date 24 JUL
                    .blog-info
                      .post-category-name
                        a(href='') Market
                      .blog-title Spotlight on the Natuzzi Editions Furniture Collection
                      .blog-des
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro iste possimus nihil, nostrum ea omnis.
                        | Aliquid ab vitae iusto nostrum qui, laborum impedit ducimus nisi laboriosam corporis. Fuga, harum aliquam?
                      .blog-action
                        a.btn(href='') READ MORE
                .col.l-4.m-6.c-12
                  .blog-wrapper
                    a.blog-thumb(href='')
                      img(src='https://mageblueskytech.com/armania/media/rokanthemes/blog/images/b/l/blog-thumb3_1.jpg', alt='')
                      .blog-date 23 JUL
                    .blog-info
                      .post-category-name
                        a(href='') Market
                      .blog-title Ancient grain and artichoke salad. The comfort of a meal
                      .blog-des
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro iste possimus nihil, nostrum ea omnis.
                        | Aliquid ab vitae iusto nostrum qui, laborum impedit ducimus nisi laboriosam corporis. Fuga, harum aliquam?
                      .blog-action
                        a.btn(href='') READ MORE
              .row
                .col.l-4.m-6.c-12
                  .blog-wrapper
                    a.blog-thumb(href='')
                      img(src='https://mageblueskytech.com/armania/media/rokanthemes/blog/images/b/l/blog-thumb4_1.jpg', alt='')
                      .blog-date 22 JUL
                    .blog-info
                      .post-category-name
                        a(href='') Market
                      .blog-title Making Heads or Tails of Your Vacuum Cleaner
                      .blog-des
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro iste possimus nihil, nostrum ea omnis.
                        | Aliquid ab vitae iusto nostrum qui, laborum impedit ducimus nisi laboriosam corporis. Fuga, harum aliquam?
                      .blog-action
                        a.btn(href='') READ MORE
                .col.l-4.m-6.c-12
                  .blog-wrapper
                    a.blog-thumb(href='')
                      img(src='https://mageblueskytech.com/armania/media/rokanthemes/blog/images/b/l/blog5.jpg', alt='')
                      .blog-date 21 JUL
                    .blog-info
                      .post-category-name
                        a(href='') Market
                      .blog-title New home decor from Doerson Furniture Collection
                      .blog-des
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro iste possimus nihil, nostrum ea omnis.
                        | Aliquid ab vitae iusto nostrum qui, laborum impedit ducimus nisi laboriosam corporis. Fuga, harum aliquam?
                      .blog-action
                        a.btn(href='') READ MORE
                .col.l-4.m-6.c-12
                  .blog-wrapper
                    a.blog-thumb(href='')
                      img(src='https://mageblueskytech.com/armania/media/rokanthemes/blog/images/b/l/blog-thumb6_2.jpg', alt='')
                      .blog-date 20 JUL
                    .blog-info
                      .post-category-name
                        a(href='') Market
                      .blog-title Cotton 60 cycle white program washing machine
                      .blog-des
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro iste possimus nihil, nostrum ea omnis.
                        | Aliquid ab vitae iusto nostrum qui, laborum impedit ducimus nisi laboriosam corporis. Fuga, harum aliquam?
                      .blog-action
                        a.btn(href='') READ MORE
