extend ./layout/layout.pug
block content
	//- Main content - start
	main.page-content.page-contact
		.grid.wide.container
			.row
				.col.l-2-4.m-4.c-6.contact-col
					img(src='https://mageblueskytech.com/armania/media/wysiwyg/contact-icon-1.png', alt='')
					h3 New York
					p
						| Example Street 68, Mahattan, New York, UK 
						br
						| themesupport@gmail.com 
						br
						| (+80) 398171495
						br
				.col.l-2-4.m-4.c-6.contact-col
					img(src='https://mageblueskytech.com/armania/media/wysiwyg/contact-icon-1.png', alt='')
					h3 New York
					p
						| Example Street 68, Mahattan, New York, UK 
						br
						| themesupport@gmail.com 
						br
						| (+80) 398171495
						br
				.col.l-2-4.m-4.c-6.contact-col
					img(src='https://mageblueskytech.com/armania/media/wysiwyg/contact-icon-1.png', alt='')
					h3 New York
					p
						| Example Street 68, Mahattan, New York, UK 
						br
						| themesupport@gmail.com 
						br
						| (+80) 398171495 
						br
				.col.l-2-4.m-4.c-6.contact-col
					img(src='https://mageblueskytech.com/armania/media/wysiwyg/contact-icon-1.png', alt='')
					h3 New York
					p
						| Example Street 68, Mahattan, New York, UK 
						br
						| themesupport@gmail.com 
						br
						| (+80) 398171495 
						br
				.col.l-2-4.m-4.c-6.contact-col
					img(src='https://mageblueskytech.com/armania/media/wysiwyg/contact-icon-1.png', alt='')
					h3 New York
					p
						| Example Street 68, Mahattan, New York, UK 
						br
						| themesupport@gmail.com 
						br
						| (+80) 398171495
						br
		.contact-map
			.map-wrapper
				iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d39738.29100039055!2d-0.124635!3d51.501415!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4291f3172409ea92!2slastminute.com%20London%20Eye!5e0!3m2!1sen!2sus!4v1632387348923!5m2!1sen!2sus', width='100%', height='600', style='border:0;', allowfullscreen='', loading='lazy')
		.grid.wide.container
			.row.contact-us-wrapper
				.col.l-6.m-12.c-12.contact-us.contact-paq
					p Information Questions
					h2 Prequently asked questions
					.panel-group
						.panel
							.panel-heading
								h5 Will I receive the same product that I see in the picture?
								i.fas.fa-chevron-down
							.panel-collapse
								p
									| Consectetur cras scelerisque dis nec mi vestibulum ullamcorper
									| turpis enim natoque tempus a malesuada suspendisse iaculis adipiscing
									| himenaeos tincidunt.Tellus pharetra dis nostra urna a scelerisque id parturient
									| ullamcorper ullamcorper class ad consectetur tristique et.
								p
									| Hendrerit mollis facilisi odio a montes scelerisque a scelerisque justo a praesent
									| conubia aenean mi tempor.
						.panel
							.panel-heading
								h5 Where can I view my sales receipt?
								i.fas.fa-chevron-down
							.panel-collapse
								p
									| Consectetur cras scelerisque dis nec mi vestibulum ullamcorper
									| turpis enim natoque tempus a malesuada suspendisse iaculis adipiscing
									| himenaeos tincidunt.Tellus pharetra dis nostra urna a scelerisque id parturient
									| ullamcorper ullamcorper class ad consectetur tristique et.
								p
									| Hendrerit mollis facilisi odio a montes scelerisque a scelerisque justo a praesent
									| conubia aenean mi tempor.
						.panel
							.panel-heading
								h5 How can I return an items?
								i.fas.fa-chevron-down
							.panel-collapse
								p
									| Consectetur cras scelerisque dis nec mi vestibulum ullamcorper
									| turpis enim natoque tempus a malesuada suspendisse iaculis adipiscing
									| himenaeos tincidunt.Tellus pharetra dis nostra urna a scelerisque id parturient
									| ullamcorper ullamcorper class ad consectetur tristique et.
								p
									| Hendrerit mollis facilisi odio a montes scelerisque a scelerisque justo a praesent
									| conubia aenean mi tempor.
						.panel
							.panel-heading
								h5 Will you restock items indicated as &ldquo;out of stock?&rdquo;
								i.fas.fa-chevron-down
							.panel-collapse
								p
									| Consectetur cras scelerisque dis nec mi vestibulum ullamcorper
									| turpis enim natoque tempus a malesuada suspendisse iaculis adipiscing
									| himenaeos tincidunt.Tellus pharetra dis nostra urna a scelerisque id parturient
									| ullamcorper ullamcorper class ad consectetur tristique et.
								p
									| Hendrerit mollis facilisi odio a montes scelerisque a scelerisque justo a praesent
									| conubia aenean mi tempor.
						.panel
							.panel-heading
								h5 Where can I ship my order?
								i.fas.fa-chevron-down
							.panel-collapse
								p
									| Consectetur cras scelerisque dis nec mi vestibulum ullamcorper
									| turpis enim natoque tempus a malesuada suspendisse iaculis adipiscing
									| himenaeos tincidunt.Tellus pharetra dis nostra urna a scelerisque id parturient
									| ullamcorper ullamcorper class ad consectetur tristique et.
								p
									| Hendrerit mollis facilisi odio a montes scelerisque a scelerisque justo a praesent
									| conubia aenean mi tempor.
				.col.l-6.m-12.c-12.contact-us
					p Information About us
					h2 Contact us for any questions
					form.form(action='', method='POST')
						.fieldset
							.row
								.col.l-6.m-12.c-12
									.field.col-left
										label.label(for='')
										.control
											input.input-text(type='text', placeholder='Your name', name='name' value=name ? name: '')
								.col.l-6.m-12.c-12
									.field.col-right
										label.label(for='')
										.control
											input.input-text(type='text', placeholder='Your mail', name='email' value = email ? email: '')
										if errEmail
											p.errMessage=errEmail
							.field
								label.label(for='')
								.control
									input.input-text(type='text', placeholder='Phone number', name='phone_number')
							.field
								label.label(for='')
								.control
									textarea(name='question', id='', cols='3', rows='4', placeholder="What's on your mind?")
							button.btn-primary(type='submit')
								span Ask a Question
	//- Main content - end
