extend ./layout/layout.pug
block content
	main.page-content
		.page-create-acc
			.page-title-wrapper
				h1.page-title.container
					span Please verify your email
			.container
				.block
					.block-content
						p Chúng tôi vừa gửi một thông báo đến email của bạn, hãy kiểm tra email và chấp nhận
						p Cảm ơn bạn đã đăng ký tài khoản trang web chúng tôi, mong bạn sẽ chọn được những chiếc điện thoại ưng ý nhất
